# Streamlit
streamlit>=1.36

# Extra Streamlit goodies
streamlit-extras>=0.3.6

# Environment variables
python-dotenv>=1.0.1

# LangChain core
langchain>=2.0.0,<3.0.0

# Google Gemini connector for LangChain
langchain-google-genai>=2.0.0,<3.0.0

# Vector DB
faiss-cpu>=1.7.4

# Rich logging
rich==14.2.0
